body {
  background-color: #d4d4d5;
  max-width: 640px;
  margin: 10px auto;
}
.search {
  text-align: center;
  padding: 1rem;
}
.app input {
  color:rgb(109, 109, 109);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid white; 
  background: rgb(255,255,255,0.1);
}
.welcome {
  text-align: center;
  color: white; 
  font-family: 'Josefin Sans' , sans-serif; 
  font-size:30px;
  text-align: left;
  padding:20px;
  margin:15px;
}
.welcome p {
  text-align:center;
}
.container {
  width:400px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(129, 129, 129);
  border-radius: 10px;
  margin:20px auto;
}
.topLeft{
  margin:0 px;
}
.topRight {
  padding:10px;
  padding-right:0px;
  margin:10px;

}
.symbol {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white; 
  font-family: 'Josefin Sans' , sans-serif; 
  font-size:40px;
  text-align: left;
  padding-top:0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin:20px;
  text-decoration: underline;
}

.qAndDaily {
  padding:10px;
  margin: 0px;
}
.qAndDaily h1 {
  padding:0px;
  margin:0px;
}
.quote h1{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white; 
  font-family: 'Josefin Sans' , sans-serif; 
  font-size:50px;
  margin:10px;
  text-align: left;
  line-height: 7px;
  padding-left: 10px;
}
.priceChange h1{
  padding-left: 10px;
  margin:13px;
  text-align: left;
  font-family: 'Josefin Sans' ,sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.negChange h1 {
  color: rgba(207, 24, 24, 0.877);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.posChange h1 {
  color: #3CB043;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.openClose {
  margin-top:20px;
  padding: 10px;
}
.openClose h4{
  color:rgba(255, 255, 255, 0.8);
  font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin:0px;
  padding:0px;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.highLow {
  margin-top:0px;
  padding: 10px;
  margin-bottom: 10px;
}
.highLow h4 {
  color:rgba(255, 255, 255, 0.8);
  font-family:'DM Sans';
  text-align: left;
  margin:0px;
  padding:0px;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.search button {
  border-radius:8px;
  margin:7px;
  font-size:15px;
  border:solid 1px white;
  color: grey;
}

.news {
  color:white;
  text-decoration: underline;
  
}
.marketNews {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:7px;
  border-radius: 15px;
  background-color:#00000027;
  width: 200px;
  font-size: 10px;
  color:white;
  margin: 20px auto;
}
.header {
  text-align: center;
  font-size: 16px;
  font-family: 'Josefin Sans' , sans-serif;
  margin-bottom:0px;
  text-decoration: underline;
}
.article1 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin:10px;
}
.marketNews img {
  border-radius: 5px;
  width: 150px;
  margin: 10px auto;
  border: solid white;
}
.article2 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}
.article3 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}
.newslinks {
  padding:20px;
  margin-top: 0px;
  text-align: center;
}
.seperate {
  display: flex;
  margin: 10px auto;
  margin-right: 0px;
}
.newsheadline {
  font-family: 'Josefin Sans' , sans-serif;
  color: white;
  padding: 20px;
  margin-bottom: 0px;
  text-align: left;
  margin:10px auto;
}
.symbolnews1 {
  float: left;
  padding: 10px;
  font-family:'Josefin Sans' , sans-serif;
  color:white;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 12px;
  width: 150px;
}
.symbolnews1 img {
  border-radius: 5px;
  width: 120px;
  padding:0px;
  float:left;
  margin: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.403);
}